Allow SRV records to be created with a target of '.'

I'm not sure if this is the correct place to create this as I suspect it affects more than the new Linode Manager (it also affects the classic manager, though I haven't tested it on the Linode API).

The Linode Manager currently provides support for creating SRV records, however it does not allow creation of records that have a target of `.`.

As per [section 3.4 of RFC 6186](https://tools.ietf.org/html/rfc6186#section-3.4):

> In addition, with SRV RRs it is possible to indicate that a
> particular service is not supported at all at a particular domain by
> setting the target of an SRV RR to ".".  If such records are present,
> clients MUST assume that the specified service is not available, and
> instead make use of the other SRV RRs for the purposes of determining
> the domain preference.
> 
> Example: service records for IMAP and POP3 with both TLS and non-TLS
> service types are present.  Both IMAP and POP3 non-TLS service types
> are marked as not available.  IMAP (with TLS) has a lower-numbered
> priority value 0 than POP3 (with TLS) at priority 10, indicating to
> the MUA that IMAP is preferred over POP3, when the MUA can support
> either service, and only the TLS versions of the services are
> available.
> 
>     _imap._tcp     SRV  0 0 0   .
>     _imaps._tcp    SRV  0 1 993 imap.example.com.
>     _pop3._tcp     SRV  0 0 0   .
>     _pop3s._tcp    SRV 10 1 995 pop3.example.com.

When using Linode's DNS, I cannot create a record e.g. `_imap._tcp     SRV  0 0 0   .` as the target of `.` is rejected as invalid.

Hey @danielgrant. You're definitely correct in that this issue lies with our public API (and also seems to be affecting the Classic Manager, which does not rely on the APIv4).

In this case, I've brought this up with the API team and created a ticket in their backlog because we agree that it's important - we should definitely be supporting something that is included in the RFC.

In the meantime, I'm going to close out this ticket, as this doesn't directly affect the Cloud Manager, but I would recommend you keep an eye on [the APIv4 changelog](https://developers.linode.com/changelog/api/), which will let you know when this issue is resolved. I'll do my best to update this ticket if I get more information before the changelog is updated.

Please also note that for issues like this, you can always email feedback@linode.com, which will ensure that the API team sees your issue. Unfortunately since the API isn't open-source, there isn't any outlet to have a public conversation, but those emails are directly monitored by the team and we do our best to respond to those them promptly.

Also, I cannot reproduce in Classic Manager. Could you possibly provide steps to replicate the issue there?

> Also, I cannot reproduce in Classic Manager. Could you possibly provide steps to replicate the issue there?

Hm, I tested this last night in the Classic Manager and it didn't work :thinking: I must have done something else wrong last night, because I've just tested it again in the Classic Manager and it does work!